<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Practice</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back To Home</a>
        <form action="/edit" method="post">
                <input class="block w-1/4 rounded-md outline-none px-5 py-2 bg-zinc-600 text-1xl" type="text" placeholder="Previous Title" name="previous" value="<%= filename%>" >
                <input class="block w-1/4 rounded-md outline-none px-5 py-2 bg-zinc-600 text-1xl mt-2" type="text" placeholder="New Title" name="new">
                <input type="submit" class="mt-2 bg-yellow-600 px-5 py-2 rounded-md" value="Update Task">
            </form>
    </div>

    <script src="/javascripts/script.js"></script>
</body>
</html>